<div>
  Select one Indicator:
  <select>
  {{# indicators }}
    <optgroup label="{{ label }}">
    {{# options }}
      <option {{# if selected }} selected="selected" {{/ if }}
              value="{{ value }}">{{ label }}</option>
    {{/ options }}
    </optgroup>
  {{/ indicators }}
  </select>
</div>

<div>
  Select the Year:
  {{# years }}
    <label>
      <input type="radio" name="year" value="{{ value }}"
             {{# if selected}} checked="checked" {{/ if }}>
      {{ value }}
    </label>
  {{/ years }}
</div>

<div>
  Select the Country: toggle country selector
</div>
