<h2>Definitions and scopes:</h2>

<h3>EC effective cofinancing rate for SMEs partner in FP7-ICT
projects</h3>

<ul>

  <li>
    <strong>Definition and scope:</strong>
    The cofinancing rate is the % of projects total costs which are
    covered by EC funding grants. Figures include all partners and
    third parties (as subcontractors). SMEs are defined as Small and
    medium individual private enterprises with less than 250 employed
    persons and a turnover less than or equal 50 millions euro or a
    balance sheet total less than or equal 43 millions euro.
  </li>

  <li>
    <strong>Source:</strong>
    EC database of ICT research projects under the EU’s Seventh
    Framework Programme (FP7) - Cooperation program. Projects under
    the Capacities program or the CIP ICT PSP are not included.
  </li>

</ul>
