<select>

  <optgroup label="Telecom sector">

    <option value="tel_rev TOTAL_TELECOM million_euro">
    Total revenues of the electronic communications sector</option>

    <option value="tel_inv TOTAL_TELECOM million_euro">
    Total investment in networks by the electronic communications sector</option>

    <option value="tel_invrev TOTAL_TELECOM %_revenue">
    Total investment in networks as a percentage of total revenues</option>

  </optgroup>

  <optgroup label="Broadband">

    <option value="bb_fcov TOTAL_POP %_pop">
    Total fixed broadband coverage</option>

    <option value="bb_fcov RURAL_POP %_pop">
    Rural fixed broadband coverage</option>

    <option value="bb_lines TOTAL_FBB nbr_lines">
    Fixed broadband lines</option>

    <option value="bb_penet TOTAL_FBB lines/100_pop">
    Fixed broadband penetration</option>

    <option value="bb_ne TOTAL_FBB %_lines">
    New entrants' share in fixed broadband lines</option>

    <option value="bb_dsl TOTAL_FBB %_lines">
    DSL lines share in fixed broadband</option>

    <option value="bb_nga TOTAL_FBB %_lines">
    NGA lines share in fixed broadband</option>

    <option value="bb_speed2 TOTAL_FBB %_lines">
    Share of fixed broadband lines equal to or above 2 Mbps</option>

    <option value="bb_speed10 TOTAL_FBB %_lines">
    Share of fixed broadband lines equal to or above 10 Mbps</option>

    <option value="bb_speed30 TOTAL_FBB %_lines">
    Share of fixed broadband lines equal to or above 30 Mbps</option>

    <option value="bb_speed100 TOTAL_FBB %_lines">
    Share of fixed broadband lines equal to or above 100 Mbps</option>

    <option value="h_broad HH_TOTAL %_hh">
    Households with a broadband connection</option>

    <option value="e_broad ENT_ALL_XFIN %_ent">
    Enterprises with a fixed broadband connection</option>

  </optgroup>

  <optgroup label="Mobile">

    <option value="mbb_3gcov TOTAL_POP %_pop">
    3G coverage</option>

    <option value="mob_subs TOTAL_MOB nbr_subs">
    Mobile subscriptions</option>

    <option value="mob_penet TOTAL_MOB subs/100_pop">
    Mobile penetration</option>

    <option value="mob_arpu TOTAL_MOB euro">
    Average Revenue per User (arpu) in the Retail Mobile Market</option>

    <option value="mob_arpm TOTAL_MOB euro">
    Average Revenue per Minute in Retail Mobile Voice Communications </option>

    <option value="mob_ms TOTAL_MOB %_subs">
    Mobile market share of leading operator</option>

    <option value="mbb_penet TOTAL_MBB lines/100_pop">
    Mobile broadband penetration </option>

    <option value="i_iu3g IND_TOTAL %_ind">
    Use of mobile phones to access the Internet</option>

    <option value="e_iacc3g ENT_ALL_XFIN %_ent">
    Enterprises providing portable devices to persons employed</option>

  </optgroup>

  <optgroup label="Internet usage">

    <option value="h_iacc HH_TOTAL %_hh">
    Households with access to the Internet at home</option>

    <option value="i_iuse IND_TOTAL %_ind">
    Regular internet users</option>

    <option value="i_iuse RF_GE1 %_ind">
    Disadvantaged people that are regular internet users</option>

    <option value="i_iday IND_TOTAL %_ind">
    Frequent internet users</option>

    <option value="i_iuport IND_TOTAL %_ind">
    Use of laptops to access the Internet</option>

    <option value="i_iux IND_TOTAL %_ind">
    Population who have never used the internet</option>

    <option value="AAAA_cov 1M_websites %_websites">
    IPv6 readiness of most visited websites</option>

  </optgroup>

  <optgroup label="Take up of internet services (% of population)">

    <option value="i_iuif IND_TOTAL %_ind">
    Information about goods and services (% pop)</option>

    <option value="i_iunw IND_TOTAL %_ind">
    Reading online newspapers/magazines (% pop)</option>

    <option value="i_iugm IND_TOTAL %_ind">
    Games, images, films or music (% pop)</option>

    <option value="i_iubk IND_TOTAL %_ind">
    Online banking (% pop)</option>

    <option value="i_iuupl IND_TOTAL %_ind">
    Uploading self-created content (% pop)</option>

    <option value="i_ihif IND_TOTAL %_ind">
    Seeking health information (% pop)</option>

    <option value="i_iujob IND_TOTAL %_ind">
    Looking for a job, sending a job application (% pop)</option>

    <option value="i_iuolc IND_TOTAL %_ind">
    Doing an online course (% pop)</option>

    <option value="i_iueduif IND_TOTAL %_ind">
    Information about education &amp; training (% pop)</option>

    <option value="i_iugov IND_TOTAL %_ind">
    Use of eGovernment services, last 3 months (% pop)</option>

    <option value="i_igovrt IND_TOTAL %_ind">
    Sending filled forms to eGov services, last 3 months (% pop)</option>

    <option value="i_iusnet IND_TOTAL %_ind">
    Participating in social networks (% pop)</option>

    <option value="i_iuvote IND_TOTAL %_ind">
    Taking part in on-line consultations or voting</option>

  </optgroup>

  <optgroup label="Take up of internet services (% of internet users)">

    <option value="i_iuif IND_TOTAL %_ind_iu3">
    Information about goods and services (% internet users)</option>

    <option value="i_iunw IND_TOTAL %_ind_iu3">
    Reading online newspapers/magazines (% internet users)</option>

    <option value="i_iugm IND_TOTAL %_ind_iu3">
    Games, images, films or music (% internet users)</option>

    <option value="i_iubk IND_TOTAL %_ind_iu3">
    Online banking (% internet users)</option>

    <option value="i_iuupl IND_TOTAL %_ind_iu3">
    Uploading self-created content (% internet users)</option>

    <option value="i_ihif IND_TOTAL %_ind_iu3">
    Seeking health information (% internet users)</option>

    <option value="i_iujob IND_TOTAL %_ind_iu3">
    Looking for a job, sending a job application (% internet users)</option>

    <option value="i_iuolc IND_TOTAL %_ind_iu3">
    Doing an online course (% internet users)</option>

    <option value="i_iueduif IND_TOTAL %_ind_iu3">
    Information about education &amp; training (% internet users)</option>

    <option value="i_iugov IND_TOTAL %_ind_iu3">
    Use of eGovernment services, last 3 months (% internet users)</option>

    <option value="i_igovrt IND_TOTAL %_ind_iu3">
    Sending filled forms to eGov services, last 3 months (% internet users)</option>

    <option value="i_iusnet IND_TOTAL %_ind_iu3">
    Participating in social networks (% internet users)</option>

    <option value="i_iuvote IND_TOTAL %_ind_iu3">
    Taking part in on-line consultations or voting (% internet users)</option>

  </optgroup>

  <optgroup label="eGovernment">

    <option value="FOA_cit Country %_of_pub_serv_for_citizen">
    Availability of eGovernment services - citizens</option>

    <option value="FOA_ent Country %_of_pub_serv_for_ent">
    Availability of eGovernment services - enterprises</option>

    <option value="i_iugov12 IND_TOTAL %_ind">
    Use of eGovernment services, last 12 months (% pop)</option>

    <option value="i_igov12rt IND_TOTAL %_ind">
    Sending filled forms to eGov services, last 12 months (% pop)</option>

    <option value="e_igov ENT_ALL_XFIN %_ent">
    Use of eGovernment services (% ent)</option>

    <option value="e_igovrt ENT_ALL_XFIN %_ent">
    Returning filled forms to eGov services (% enterprises)</option>

    <option value="e_igov2pr ENT_ALL_XFIN %_ent">
    Use of eProcurement services (% enterprises)</option>

  </optgroup>

  <optgroup label="eCommerce">

    <option value="i_blt12 IND_TOTAL %_ind">
    Ordering goods or services online (% pop)</option>

    <option value="i_blt12 IND_TOTAL %_ind_ilt12">
    Ordering goods or services online (% internet users)</option>

    <option value="i_bfeu IND_TOTAL %_ind">
    Cross-border eCommerce (% pop)</option>

    <option value="i_bfeu IND_TOTAL %_ind_ilt12">
    Cross-border eCommerce (% internet users)</option>

    <option value="i_iusell IND_TOTAL %_ind">
    Selling online (e.g. via auctions) (% pop)</option>

    <option value="i_iusell IND_TOTAL %_ind_iu3">
    Selling online (e.g. via auctions) (% internet users)</option>

    <option value="i_bgoodo IND_TOTAL %_ind">
    Buying online content (% pop)</option>

    <option value="i_bgoodo IND_TOTAL %_ind_ilt12">
    Buying online content (% internet users)</option>

    <option value="e_eturn ENT_ALL_XFIN %_turn">
    Turnover from eCommerce</option>

    <option value="e_ebuy ENT_ALL_XFIN %_ent">
    Enterprises purchasing online</option>

    <option value="e_ebuy ENT_SM_XFIN %_ent">
    SMEs purchasing online</option>

    <option value="e_esell ENT_ALL_XFIN %_ent">
    Enterprises selling online</option>

    <option value="e_esell ENT_SM_XFIN %_ent">
    SMEs selling online</option>

  </optgroup>

  <optgroup label="eBusiness">

    <option value="e_sisorp ENT_L_XFIN %_ent">
    Integration of internal processes (Large ent)</option>

    <option value="e_sisorp ENT_SM_XFIN %_ent">
    Integration of internal processes (SME)</option>

    <option value="e_crman ENT_ALL_XFIN %_ent">
    Use of analytical CRM software</option>

    <option value="e_adesucu ENT_ALL_XFIN %_ent">
    Automatic exchange of business documents</option>

    <option value="e_inv ENT_ALL_XFIN %_ent">
    Sending or receiving of e-Invoices</option>

    <option value="e_sisc ENT_ALL_XFIN %_ent">
    Electronic Supply Chain Management</option>

    <option value="e_rfid ENT_ALL_XFIN %_ent">
    Use of Radio Frequency Identification (RFID) technologies</option>

  </optgroup>

  <optgroup label="ICT Skills">

    <option value="i_cprg IND_TOTAL %_ind">
    Have written a computer program (% pop)</option>

    <option value="i_cweb IND_TOTAL %_ind">
    Have created a Web page (% pop)</option>

    <option value="i_csk_ge_me IND_TOTAL %_ind">
    Individuals with medium or high computer skills</option>

    <option value="i_isk_ge_me IND_TOTAL %_ind">
    Individuals with medium or high internet skills</option>

    <option value="i_skedu y25_54 %_ind">
    ICT skills obtained through formal educational institution (age 25-54)</option>

    <option value="i_skedu y16_24 %_ind">
    ICT skills obtained through formal educational institution (age 16-24)</option>

    <option value="i_cisk_sfjobx sal_self_fam %_ind">
    ICT skills perceived as insufficient for the labour market</option>

  </optgroup>

  <optgroup label="Research and Development">

    <option value="FP7ICT_EC_funding All_partners euro">
    Total EC funding to participants in FP7-ICT projects</option>

    <option value="FP7ICT_TOTcost All_partners euro">
    Total cost of FP7-ICT projects</option>

    <option value="FP7ICT_particip All_partners nb_of_participations">
    Total number of participations</option>

    <option value="FP7ICT_newENTRY All_partners nb_of_organisations">
    Number of NEW participants in FP7-ICT projects</option>

    <option value="FP7ICT_EC_funding All_partners euro_x_hab">
    EC funding to FP7-ICT projects (in euro per habitant)</option>

    <option value="FP7ICT_EC_funding All_partners euro_x_million_of_GDP">
    EC funding to FP7-ICT projects (in % of GDP)</option>

    <option value="FP7ICT_EC_funding SME_partners %_of_EC_funding">
    share of EC funding going to SMEs</option>

    <option value="FP7ICT_EC_funding LE_partners %_of_EC_funding">
    share of EC funding going to Large Enterprises</option>

    <option value="FP7ICT_EC_funding HESREC_partners %_of_EC_funding">
    share of EC funding going to Education&amp;Research organisations</option>

    <option value="FP7ICT_EC_funding NIL_partners %_of_EC_funding">
    share of EC funding going to Other organisations</option>

    <option value="FP7ICT_cofin All_partners %_of_total_cost">
    EC cofinancing rate (all project partners)</option>

    <option value="FP7ICT_cofin SME_partners %_of_total_cost" selected="selected">
    EC cofinancing rate for SMEs</option>

    <option value="FP7ICT_afxp All_partners euro">
    Average EC funding per participation</option>

    <option value="FP7ICT_afxp SME_partners euro">
    Average EC funding per participation for SMEs</option>

    <option value="FP7ICT_newENTRY All_partners %_of_organisations">
    % of NEW participants in FP7-ICT projects</option>

  </optgroup>

</select>
