<link href="{{ STATIC }}/lib/select2-3.2/select2.css" rel="stylesheet"/>
<link href="{{ STATIC }}/lib/jquery-ui-1.9.2.custom/css/scenario-box-smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet"/>

<script src="{{ STATIC }}/lib/script.js-20120424/script.min.js"></script>
<script src="{{ STATIC }}/lib/jquery-1.8.3/jquery-1.8.3.min.js"></script>
<script src="{{ STATIC }}/lib/handlebars-1.0.rc1/handlebars-1.0.rc.1.js"></script>
<script src="{{ STATIC }}/lib/underscore-1.4.2/underscore.js"></script>
<script src="{{ STATIC }}/lib/backbone-0.9.2/backbone.js"></script>
<script src="{{ STATIC }}/lib/highcharts-2.3.3/js/highcharts.js"></script>
<script src="{{ STATIC }}/lib/select2-3.2/select2.js"></script>
<script src="{{ STATIC }}/lib/qtip-2.0.1/jquery.qtip.min.js"></script>
<script src="{{ STATIC }}/lib/raphael-2.1.0/raphael-min.js"></script>
<script src="{{ STATIC }}/lib/chroma/chroma.min.js"></script>
<script src="{{ STATIC }}/lib/kartograph-20130111/kartograph.min.js"></script>

<script>
  window.App = {

    templates: {{ get_js_templates()|json|safe }},

    STATIC: {{ STATIC|json|safe }},

    URL: {{ URL|json|safe }},

    DATA_REVISION: {{ DATA_REVISION|json|safe }},

    get_template: function(name) {
        return Handlebars.compile(App.templates[name]);
    }

  };
  App.jQuery = window.jQuery;
  window.jQuery.noConflict(true);
  App.plone_jQuery = window.jQuery;

</script>

<script src="{{ STATIC }}/scoreboard/utils.js"></script>
<script src="{{ STATIC }}/scoreboard/common.js"></script>
<script src="{{ STATIC }}/scoreboard/filters/filters.js"></script>
<script src="{{ STATIC }}/scoreboard/scenario1/scenario1.js"></script>
<script src="{{ STATIC }}/scoreboard/scenario1/chart.js"></script>
<script src="{{ STATIC }}/scoreboard/scenario2/scenario2.js"></script>
<script src="{{ STATIC }}/scoreboard/scenario2/chart.js"></script>
<script src="{{ STATIC }}/scoreboard/scenario3/scenario3.js"></script>
<script src="{{ STATIC }}/scoreboard/scenario3/chart.js"></script>
<script src="{{ STATIC }}/scoreboard/scenario5/scenario5.js"></script>
<script src="{{ STATIC }}/scoreboard/scenario5/map.js"></script>
